---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Blog Page">
  <h1>Blog Page</h1>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
